Project2 v.2.0/Connected Services/ServiceInventoryReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Store.InventoryService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Store.InventoryService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfProductItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ProductItem" nillable="true" type="tns:ProductItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfProductItem" nillable="true" type="tns:ArrayOfProductItem" />
  <xs:complexType name="ProductItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ImageFile" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" type="xs:decimal" />
      <xs:element minOccurs="0" name="ProductID" type="xs:int" />
      <xs:element minOccurs="0" name="ProductName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ProductItem" nillable="true" type="tns:ProductItem" />
</xs:schema>